<% if resource.errors.any? %>
  <div class="alert-box warning">
    Errors <br>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="signup">

  <h3 class="text-center">
    <a href="<%= root_path %>">
      <%= image_tag 'groupmates_logo_white2.png', size: '50x50' %>
    </a><br>
    <% if @invitation %>
      Join Groupmates
      <% else %>
      Sign up to Groupmates
    <% end %>
  </h3>

  <div class="row">
    <div class="small-11 medium-7 large-5 small-centered medium-centered large-centered columns main-block">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <ul class="small-block-grid-2">
        <li><%= f.text_field :first_name, autofocus: true, placeholder: "First name", required: true %></li>
        <li><%= f.text_field :last_name, placeholder: "Last name", required: true %></li>
      </ul>
      <ul class="small-block-grid-1">
        <li><%= f.email_field :email, value: (@invitation)? @invitation.invited_email : nil, placeholder: "Email", required: true %></li>
        <li><%= f.password_field :password, autocomplete: "off", placeholder: "Password", pattern: ".{8,}", required: true, title: "It should contains at least 8 characters" %></li>
      </ul>
      <footer class="text-center">
        <%= f.submit "Sign up", class: "button tiny expand action-button" %>
        <span class="terms">By signin up, you agree the <%= link_to "Terms and Conditions", terms_path%>.</span>
      </footer>

      <% end %>
      <br>
    </div>
  </div>

  <div class="row" id="signup-form">
    <div id="oauth" class="small-11 medium-7 large-5 small-centered medium-centered large-centered columns extras" >
      <p class="text-center">
        <span>...or Sign up with</span><br>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <a class="social-icon <%= provider.to_s %>" href="<%= url_for omniauth_authorize_path(resource_name, provider) %>"><i class="<%= provider_icon(provider.to_s) %>"></i></a>
          <% end -%>
        <% end -%>
        <br>
        <span>Already an account? </span><a href="<%= new_session_path(resource_name) %>">Sign in</a>
      </p>
    </div>
  </div>

</div>
