<section id="business">

	<article class="row">
		<div class="small-12 medium-12 large-12 columns">

		<h1 class="text-center">Business</h1>

		<p>Organization needs to be extra sensitive when it comes to their people.  They need to exert additional effort in observing their ability and character towards work and the people around them. As an entrepreneur, you must not mainly focus on the quality of work they give but the harmony they hold during the process. If workforce works with harmony and collaboration, everything will positively follow.</p>

		<hr>
		</div>
	</article>

	<article class="row">
		<div class="medium-7 large-8 columns">
			<%= image_tag "business_collaborate.png", class: "circle show-for-small-only" %>
	 		<h2>Collaborate</h2>
	 
 			<p>Your organization also needs good collaboration tool which will aid your company in maximizing productivity. With Groupmates, working environment can be enlightened. Work elements such as notes, calendar, file storage, messenger will be uniquely design to reveal best possible group collaboration. Groupmates built from the scratch to provide you everything you need to create effective team projects. Decision making and sharing of information has made rapid and easier. Work distribution, changes, submission, planning, and more are made faster. Furthermore, you will also be provided with “Data Protection” to secure confidential information.</p>
		</div>
		<div class="medium-5 large-4 columns">
			<%= image_tag "business_collaborate.png", class: "circle hide-for-small-only" %>
		</div>
	</article>

	<article class="row">
		<div class="small-12 medium-5-pull medium-5 large-4 large-4-pull columns">
			<%= image_tag "business_communicate.png", class: "circle hide-for-small-only" %>
			<br>
		</div>
		<div class="medium-7 large-8 columns">
	 		<h2>Communicate</h2>
	 
			<p>Through Groupmates technology, organization can connect their teams, partners and clients easily and without any disruptions. This allows them to establish multiple channels, and discuss specific topics conveniently. Groupmates provides a platform for exchanging, integrating and combining knowledge. In short, technology provided enables people to communicate anytime and anywhere to successful finish project on timely manner.</p>
		</div>
	</article>

	<article class="row">
		<div class="medium-7 large-8 columns">
			<%= image_tag "collaboration-in-business.jpg", class: "circle show-for-small-only" %>

	 		<h2>Plan / Organise</h2>
	 
 			<p>Once project deadline becomes chaotic, the entire team, will start to struggle with it and get overwhelmed by the workload and pressure. Growing company's needs more control this require dependable communication platform that will provide clear and transparent planning.  Since strategic planning is vital for the success of the company, utilizing Groupmates is the best possible solution to address this. This provides unique way to engage people in their word and meet deadlines on time.</p>
		</div>
		<div class="medium-5 large-4 columns">
			<%= image_tag "collaboration-in-business.jpg", class: "circle hide-for-small-only" %>
			<br>
		</div>
	</article>
</section>

<section id="subscribe">
	<div class="row">
		<div class="large-12 columns text-center">
			<strong>Our experts will work closely tailoring solutions to suit your specific organization's needs</strong><br> 
			<br>
			<a href="<%= url_for contact_path %>" class="button warning">Contact us</a>
		</div>
	</div>
</section>